html,body{
	scroll-behavior: smooth;
}
a:hover{
	text-decoration: none;
}
.section{
	padding-top: 70px;
	padding-bottom: 70px;
}
.section h2.section-head{
	color: #000;
	text-align: center;
	margin-bottom: 40px;
}
.section h2.section-head:after{
	background: #e74c3c;
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	margin: 20px auto;
}

#header{
	color: white;
	background-color: #e74c3c;
}
#logo{
	font-size: 2rem;
	margin-top: 5px;
}
#menu{
	list-style: none;
	margin: 0px;
	padding-inline: 30px;
	height: 100%;
	width: 400px;

}
#menu li{
	display: inline-block;
	cursor: pointer;

}
#menu li a{
	color: #fff;
	display: block;
}
#menu li a:hover{
	background-color: #c0392b;
}
#banner{
	background: url('banner.jpg') no-repeat 0 0;
	background-size: cover;
}
.banner-title {
	padding-top: 5rem;
}
.banner-title h1{
background: rgba(255, 255, 255, 0.8);
display: inline-block;
padding: 10px;
margin: 0px;
}
.banner-title p.lead{
	color: white;
	background-color: rgba(231, 76, 60,0.8);
	padding: 10px;
}
.section-head{
	text-align: center;
}
.service-box{
	text-align: center;
}
#icon{
	fill: red;
	height: 50px;
}
.car1 div img{
	width: 100px;
}
#testimonials{
	background: url('bg.avif') no-repeat;
	background-size: cover;
	color: #fff;
}
.car div img{
	width: 100%;
}
.car div:first-child img{
	height: 46%;
}
.car div:last-child img{
	height: 46%;
}
.car div{
	overflow: hidden;
}
.car a {
	color: red;
}
.car h5{
	color: red;
}
.about{
	background-color: #314760;
	height: 100%;
}
.about {
	color: white;
}
.footer{
	background-color:#2a3c51;
	width: 100%;

}
 .footer-icon{
	fill: white;
	margin-inline: 10px;
	
}
.icons{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 8rem;
}
